@{
    ViewBag.Title = "Educadores";
}

<div class="content info educators">
    <div class="wp">
        <h1>Información para educadores.</h1>
        <h2>¡Únete al grupo de maestros vanguardistas que utilizan Cuenta Cuentos con sus estudiantes!</h2>
        <div class="panel-info">
            <img src="~/Content/img/educadores-01.jpg">
            <div>
                <article>
                    <h2>Como educadores sabemos que todos nos hemos preocupado por alentar y motivar a nuestros estudiantes con la escritura creativa.</h2>
                    <p>Cuenta Cuentos, es una plataforma que ayuda a los estudiantes a escribir y crear cuentos de una manera lúdica, fácil y divertida. Es una estrategia académica innovadora que nos puede ayudar a  fortalecer el proceso de enseñanza-aprendizaje, incrementar el aprovechamiento académico, fomentar la creatividad  y diferenciación de cada alumno, fortalecer una cultura de colaboración en las escuelas, integrar el uso de la tecnología, promover el buen uso de las artes del lenguaje, en todas las materias y sobrepasar los estándares de contenido y de desempeño en nuestros alumnos.<br /><br />
                        “La escritura creativa es el columpio donde podemos mecernos casi tocando el cielo, estirando las piernas, respirando con ganas, riendo y maravillándonos de poder vencer la gravedad y sentirnos que por fin escribimos porque estamos aprendiendo a volar o tal vez es que nuestra ansia de volar es tan poderosa que queremos describirla escribiendo” (Tere Marichal, 2014).<br /><br />
                        Maestro, te invito a que ayudes a tus estudiantes a subirse al “columpio” de Cuenta Cuentos. Aprender debe ser divertido para el maestro y el estudiante.<br /><br />
                        ¡Sin emoción no hay aprendizaje!</p>
                </article>
            </div>
        </div>
    </div>
</div>