@{
    ViewBag.Title = "Padres";
}

<div class="content info parents">
    <div class="wp">
        <h1>Información orientada a los padres, madres y/o encargados.</h1>
        <h2>Tu eres parte importante en todo el proceso educativo de tu hijo (a).</h2>
        <div class="boxes">
            <div class="box">
                <img src="~/Content/img/padres-01.jpg" width="500" height="281">
                <h2>Cuando te involucras en Cuenta Cuentos, tus hij@@s no se sienten sol@@s en este camino ya  que eres una ayuda idónea, pues fuiste el primer maestro por excelencia en su vida.</h2>
                @*<p>...</p>*@
            </div>
            <div class="box">
                <img src="~/Content/img/padres-02.jpg" width="500" height="281">
                <h2>En esta plataforma podrás disfrutar y crear un espacio de encuentro donde será posible intercambiar y compartir experiencias e inquietudes que promuevan el diálogo con tus hij@@s.</h2>
                @*<p>...</p>*@
            </div>
        </div>
        <div class="boxes">
            <div class="box">
                <img src="~/Content/img/padres-03.jpg" width="500" height="281">
                <h2>En "Cuenta Cuentos" tus hij@@s podrán descubrir la satisfacción que produce realizar y construir diversas actividades simples, para lograr escribir cuentos, ilustrarlos, y publicarlos en un solo lugar.</h2>
                @*<p>...</p>*@
            </div>
            <div class="box">
                <img src="~/Content/img/padres-04.jpg" width="500" height="281">
                <h2>Abróchate el cinturón y emprende este nuevo viaje donde toda la familia puede disfrutar. Eres parte importante en el proceso educativo de tu hij@@. ¡Cuéntame tu cuento en Cuenta Cuentos!</h2>
                @*<p>...</p>*@
            </div>
        </div>
    </div>
</div>