<!--<connectionStrings>
  <add name="CuentosConnection" connectionString="Server=ALEXIS-PC\MSSQL1;Database=CuentaCuentosPR-TEST;User ID=CuentaCuentosTEST;Password=TT10rr26!;Trusted_Connection=true;Encrypt=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings> -->

<connectionStrings>
 <!--Release <add name="CuentosConnection" connectionString="Server=tcp:a0z6z0pbf4.database.windows.net,1433;Database=CuentaCuentosPR-PROD;User ID=cuentacuentos@a0z6z0pbf4;Password=LYB%|VWsY^p6S t;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" /> -->
 <add name="CuentosConnection" connectionString="Server=tcp:cuentosdb.database.windows.net,1433;Initial Catalog=cuentosdb;Persist Security Info=False;User ID=blurryrobot;Password=tryagain1!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />

  
<!--Local
<add name="CuentosConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Cuentos-20141007095140;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\cuentacuentosdb.mdf" providerName="System.Data.SqlClient" />
-->
</connectionStrings>