@{
    ViewBag.Title = "Crear Usuario";
    ViewBag.TitleIcon = "plus";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <div class="box">
            <div class="box-header">
                <span class="title">Información del usuario</span>
            </div>

            <div class="box-content">
                @Html.Partial("_Form")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Areas/Admin/Content/js/vendor/ckeditor/ckeditor.js")
}