<meta http-equiv="content-type" content="text/html; charset=\" />@{
    ViewBag.Title = "Sobre Nosotros";
}
<div class="jumbotron greensection">
    <div class="row" style="margin-top:40px">
        <center>
            <p><h2 class="jumboText">¡Crea tus cuentos usando la imaginación y creatividad!</h2></br></p>
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/img/about/icon1.png">
                <br>
                <div class="imageTitle">Busca, Inventa y usa </div><div class="imageContent">palabras e imagenes para<br />crear tu cuento.</div>
                <br>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/img/about/icon2.png">
                <br>
                <div class="imageTitle">Desarolla</div><div class="imageContent">tu talento creativo grabando<br />videos divertidos.</div>
                <br>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/img/about/icon3.png">
                <br>
                <div class="imageTitle">Comparte</div><div class="imageContent">tu cuento con tus colegas,<br /> familiares y amigos!</div>
                <br>
            </div>
        </center>
    </div>
    <div class="row" style="margin-top:20px">
        <center>
            <p></br><a class="btn btn-comeinza btn-lg btnspecial" href="#" role="button">Comienza Aquí</a></p>
        </center>
    </div>
</div>
<div class="container">
    <div class="row">
        <center>
            <p><h3 class="sobrenosotros">SOBRE NOSOTROS</h3></p>
        </center>
    </div>
    <div class="row row-centered">
        <div class="col-md-6 col-centered">
            <h4><p class="subheadingtxt">¿Quiénes somos?</p></h4>
          
            <p class="abouttext">
                Camera Mundi, Inc. es una empresa netamente puertorriqueña
                que consistentemente ha servido a las escuelas e instituciones educativas de Puerto Rico desde el 1974. Actualmente es el proveedor más completo de materiales, equipos, productos y servicios en el sector que cubre a las instituciones educativas públicas y privadas desde nivel preescolar hasta postsecundario.
                <br /><br />
                Cuenta con la experiencia, el personal idóneo, un historial probado de cumplimiento a través del tiempo y más importante aún, el compromiso incondicional tanto con el éxito de los proyectos educativos como con los estudiantes, maestros, madres, padres y/o encargados, y personal administrativo que se desea impactar de manera positiva.
            </p>
        </div>
        <div class="col-md-6 col-centered abouttext2">
            <p>
                Camera Mundi, Inc. desea desarrollar experiencias de enseñanza-aprendizaje centradas en fortalecer la capacidad neurológica para pensar, sentir y hacer. Ambiciona un Puerto Rico donde cada estudiante y su familia tengan la oportunidad de fortalecer y maximizar su cerebro como órgano vital para superarse y forjar un mejor futuro para nuestro país.
                <br /><br />
                Nuestra filosofía educativa está basada en las Neurociencias.
                Los Doce Principios del Aprendizaje Natural (Caine y Caine, 1994, 2008) sintetizan la investigación de muchas disciplinas, desde la neurociencia hasta la psicología cognitiva.
                Integración de la tecnología como herramienta para motivar a los maestros a enseñar en acorde con los doce principios y conectar con los estudiantes para que estos puedan demostrar que sobrepasan los estándares del DEPR por materia y grado.
            </p>
        </div>
    </div>
    <div class="row row-centered">
        <h4><p class="subheadingtxt">Programas que hemos apoyado:</p></h4>
        </br>
        <div class="col-md-6 col-centered">
            <div class="row">
                <div class="col-md-6 col-centered projectBox lightBlueBox">
                    <p class="boxTitle">
                        Servicios Equitativos
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-centered projectBox purpleBox">
                    <p class="boxTitle">
                        Desarrollo Profesional
                    </p> <p class="boxContent">(Maestros y Padres)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-centered projectBox blueBox">
                    <p class="boxTitle">Servicios de Coaching</p>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-centered projectBox pinkBox">
                    <p class="boxTitle">Escuelas en Transformación</p>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-centered projectBox orangeBox">
                    <p class="boxTitle">
                        Proyecto:
                    </p> <p class="boxContent">Los Cuentos que Cuentan e Ilustran Los Niños en PR</p>
                   
                </div>
            </div>

            
            </br>
            </br>
            </br>
        </div>
        <div class="col-md-4 col-centered quote">
            <center>
                <p><h3>Teoría de Acción</h3></p>
                <p class="quotetext">
                    “Si la experiencia con la pobreza hace que el cerebro cambie físicamente de forma perjudicial; de la misma forma, otras experiencias pueden lograr que el cerebro cambie de forma positiva.”
                </p>
            </center>
            <p class="author">—Jensen, 2009-2013</p>
            <p class="etc">
                Por tanto, tenemos que implantar estrategias eficaces para lograr que los niños de escasos recursos experimenten el éxito emocional, social y académico.
            </p></br>
        </div>
    </div>
</div>

