@{
    ViewBag.Title = "Sobre Nosotros";
}
<div class="jumbotron greensection">
    <div class="row">
        <center>
            <p><h3 class="jumboText">¡Crea tus cuentos usando la imaginacion y creatividad!</h3></br></p>
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/img/about/icon1.png">
                <br>
                <div class="imageTitle">Busca, Inventa y usa </div><div class="imageContent">palabras e imagenes para crear tu cuento.</div>
                <br>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/img/about/icon2.png">
                <br>
                <div class="imageTitle">Desarolla</div><div class="imageContent">tu talento creativo grabando videos divertidos.</div>
                <br>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="~/Content/img/about/icon3.png">
                <br>
                <div class="imageTitle">Comparte</div><div class="imageContent">tu cuento con tus colegas, familiares y amigos!</div>
                <br>
            </div>
        </center>
    </div>
    <div class="row">
        <center>
            <p></br><a class="btn btn-comeinza btn-lg" href="#" role="button">Comienza Aqui</a></p>
        </center>
    </div>
</div>
<div class="container">
    <div class="row">
        <center>
            <p><h3 class="sobrenosotros">SOBRE NOSOTROS</h3></p>
        </center>
    </div>
    <div class="row row-centered">
        <div class="col-md-6 col-centered">
            <h4><p class="subheadingtxt">¿Quienes somos?</p></h4>
            </br>
            <p>
                Camera Mundi, Inc. es una empresa netamente puertorriqueña con sus oficinas centrales en el corazón de Caguas, PR. Consistentemente ha servido a las escuelas e instituciones educativas de Puerto Rico por los últimos 40 años. Comenzó sus operaciones desde el año 1974 proveyendo servicios, materiales, equipos y consultoría a las instituciones educativas y gubernamentales.</br></br>
                Cuenta con la experiencia, el personal idóneo, un historial probado de cumplimiento a través del tiempo y más importante aún, el compromiso incondicional tanto con el éxito de los proyectos educativos como con los estudiantes, maestros, madres, padres y/o encargados, y personal administrativo que se desea impactar de manera positiva.</br> </br>
            </p>
        </div>
        <div class="col-md-6 col-centered">
            </br> </br></br>
            <p>
                Camera Mundi, Inc. desea desarrollar experiencias de enseñanza-aprendizaje centradas en fortalecer la capacidad neurológica para pensar, sentir y hacer. Ambiciona un Puerto Rico donde cada estudiante y su familia tengan la oportunidad de fortalecer y maximizar su cerebro como órgano vital para superarse y forjar un mejor futuro para nuestro país.
                </br></br>
                Nuestra filosofía educativa está basada en las Neurociencias.
                Los Doce Principios del Aprendizaje Natural (Caine y Caine, 1994, 2008) sintetizan la investigación de muchas disciplinas, desde la neurociencia hasta la psicología cognitiva.
                Integración de la tecnología como herramienta para motivar a los maestros a enseñar en acorde con los doce principios y conectar con los estudiantes para que estos puedan demostrar que sobrepasan los estándares del DEPR por materia y grado.
            </p>
        </div>
    </div>
    <div class="row row-centered">
        <h4><p class="subheadingtxt">Programas que hemos apoyado:</p></h4>
        </br>
        <div class="col-md-6 col-centered">
            <div class="row">
                <div class="col-md-6 col-centered projectBox lightBlueBox">
                    <p class="boxTitle">
                        <br>
                        Servicios Equitativos
                    </p>
                    </br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-centered projectBox purpleBox">
                    <p class="boxTitle">
                        Desarrollo Profesional </br>
                    </p> <p class="boxContent">(Maestros y Padres)</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-centered projectBox blueBox">
                    <br>
                    <p class="boxTitle">Servicios de Coaching</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-centered projectBox pinkBox">
                    <br>
                    <p class="boxTitle">Escuelas en Transformación</p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-centered projectBox orangeBox">
                    <p class="boxTitle">
                        Proyecto:
                    </p> <p class="boxContent">Los Cuentos que Cuentan e Ilustran Los Niños en PR</p>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-centered projectBox peachBox">
                    <p class="boxTitle">
                        Proyecto:
                    </p><p class="boxContent">
                        A (poder)  (Plataforma Declara)
                    </p>
                    <br>
                </div>
            </div>
            </br>
        </div>
        <div class="col-md-4 col-centered quote">
            <center>
                <p><h3>Teoria de Accion</h3></p>
                <br><p class="quotetext">
                    “Si la experiencia con la pobreza hace que el cerebro cambie físicamente de forma perjudicial; de la misma forma, otras experiencias pueden lograr que el cerebro cambie de forma positiva.”
                </p>
            </center>
            <p class="author">—Jensen, 2009-2013</p>
            <p class="etc">
                Por tanto, tenemos que implantar estrategias eficaces para lograr que los niños de escasos recursos experimenten el éxito emocional, social y académico.
            </p></br>
        </div>
    </div>
</div>

