@{
    ViewBag.Title = "Sobre Nosotros";
}


<div class="content info about">
    <div class="wp">
        <h1>Información sobre la plataforma.</h1>
        
        <div class="media-box">
            <div class="media">
                <div class="media-left"><img src="~/Content/img/sobre-01.jpg"  width="344" height="218"></div>
                <div class="media-body">
                    <h2>¿Quiénes somos?</h2>
                    <p>Camera Mundi, Inc. es una empresa netamente puertorriqueña con sus oficinas centrales en el corazón de Caguas, PR. Consistentemente ha servido a las escuelas e instituciones educativas de Puerto Rico por los últimos 40 años. Comenzó sus operaciones desde el año 1974 proveyendo servicios, materiales, equipos y consultoría a las instituciones educativas y gubernamentales.</p>
                    <p>Cuenta con la experiencia, el personal idóneo, un historial probado de cumplimiento a través del tiempo y más importante aún, el compromiso incondicional tanto con el éxito de los proyectos educativos como con los estudiantes, maestros, madres, padres y/o encargados, y personal administrativo que se desea impactar de manera positiva.</p>
                    <p>Camera Mundi, Inc. desea desarrollar experiencias de enseñanza-aprendizaje centradas en fortalecer la capacidad neurológica para pensar, sentir y hacer. Ambiciona un Puerto Rico donde cada estudiante y su familia tengan la oportunidad de fortalecer y maximizar su cerebro como órgano vital para superarse y forjar un mejor futuro para nuestro país.</p>
                </div>
            </div>

            <div class="media">
                <div class="media-left"><img src="~/Content/img/sobre-02.jpg"  width="344" height="218"></div>
                <div class="media-body">
                    <h2>Nuestra filosofía educativa está basada en las Neurociencias.</h2>
                    <p>Los Doce Principios del Aprendizaje Natural (Caine y Caine, 1994, 2008) sintetizan la investigación de muchas disciplinas, desde la neurociencia hasta la psicología cognitiva.</p>
                    <p>Integración de la tecnología como herramienta para motivar a los maestros a enseñar en acorde con los doce principios y conectar con los estudiantes para que estos puedan demostrar que sobrepasan los estándares del DEPR por materia y grado.</p>
                </div>
            </div>

            <div class="media">
                <div class="media-left"><img src="~/Content/img/sobre-03.jpg"  width="344" height="218"></div>
                <div class="media-body">
                    <h2>Varios Programas que hemos apoyado:</h2>
                    <p>Servicios Equitativos</p>
                    <p>Desarrollo Profesional – Maestros y Padres</p>
                    <p>Servicios de Coaching</p>
                    <p>Escuelas en Transformación</p>
                    <p>Proyecto: Los Cuentos que Cuentan e Ilustran Los Niños en PR</p>
                    <p>Proyecto: A (poder) @@ (Plataforma Declara)</p>
                </div>
            </div>

            <div class="media">
                <div class="media-left"><img src="~/Content/img/sobre-04.jpg"  width="344" height="218"></div>
                <div class="media-body">
                    <h2>Teoría de Acción.</h2>
                    <p>“Si la experiencia con la pobreza hace que el cerebro cambie físicamente de forma perjudicial; de la misma forma, otras experiencias pueden lograr que el cerebro cambie de forma positiva.” (Jensen, 2009-2013)</p>
                    <p>Por tanto, tenemos que implantar estrategias eficaces para lograr que los niños de escasos recursos experimenten el éxito emocional, social y académico.</p>
                </div>
            </div>

        </div>
        

        <div style="height:100px;"></div>
    </div>
</div>