@section Header {
    @Html.Partial("~/Views/Shared/_Header.cshtml")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="content lp-mainViewer">
        <div class="featuredwrapper">
            <center>
                <div class="featuredbox1">
                    <div class="featuredvideo"><a href="~/Stories/Videos"><img src="~/Content/img/00featureddummy.png" /> </a></div>
                    <div class="featuredcontent"><h1>El Secreto de Mandy</h1><p>Por: Jaer Cabán</p>
                        <div class="rating">
                            <img src="~/Content/img/home/rating_star.svg" />
                            <img src="~/Content/img/home/rating_star.svg" />
                            <img src="~/Content/img/home/rating_star.svg" />
                            <img src="~/Content/img/home/rating_star.svg" />
                            <img src="~/Content/img/home/rating_star.svg" />
                        </div>
                    <br /><br />
                    <div><p>Owen Wilson y Jennifer Aniston conforman a un matrimonio de periodistas que adoptan un labrador que está en oferta a u$s 200, que más que un perro parece un león. Marley (que en términos bestiales mucho tiene que ver con el animador de TV) es insoportable, nadie lo aguanta, destruye todo lo que encuentra y pone a la joven pareja.</p></div>
                    </div>
                </div>
            </center>
        </div>
    </div>
    <div class="album-mc albumgaleria">
        <div class="container" style="background-color:white; font-weight:bold;padding-top:2%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div style="width:100%;border-bottom: 1px solid; border-color: #adafb1">
                <h2 style="margin-top:0; float:left;">Fantasía</h2>
                <div class="btn btn-success verdetallesBtn" style="float:right;"> Ver Todos</div>
            </div>

            <div class="row">
                <div class="col-md-12">


                    <div class="well">
                        <div id="myCarousel" class="carousel slide">

                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                            </div>
                            <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                        </div>
                        <!--/myCarousel-->
                    </div>
                    <!--/well-->
                </div>

            </div>

            <div style="width:100%;border-bottom: 1px solid; border-color: #adafb1">
                <h2 style="margin-top:0; float:left;">Sci-Fi</h2>
                <div class="btn btn-success verdetallesBtn" style="float:right;"> Ver Todos</div>
            </div>
            <div class="row">
                <div class="col-md-12">


                    <div class="well">
                        <div id="myCarousel" class="carousel slide">

                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                            </div>
                            <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                        </div>
                        <!--/myCarousel-->
                    </div>
                    <!--/well-->
                </div>

            </div>
            <div style="width:100%;border-bottom: 1px solid; border-color: #adafb1">
                <h2 style="margin-top:0; float:left;">Misterio</h2>
                <div class="btn btn-success verdetallesBtn" style="float:right;"> Ver Todos</div>
            </div>
            <div class="row">
                <div class="col-md-12">


                    <div class="well">
                        <div id="myCarousel" class="carousel slide">

                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                            </div>
                            <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                        </div>
                        <!--/myCarousel-->
                    </div>
                    <!--/well-->
                </div>

            </div>
            <div style="width:100%;border-bottom: 1px solid; border-color: #adafb1">
                <h2 style="margin-top:0; float:left;">Realistas</h2>
                <div class="btn btn-success verdetallesBtn" style="float:right;"> Ver Todos</div>
            </div>
            <div class="row">
                <div class="col-md-12">


                    <div class="well">
                        <div id="myCarousel" class="carousel slide">

                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                            </div>
                            <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                        </div>
                        <!--/myCarousel-->
                    </div>
                    <!--/well-->
                </div>

            </div>
        </div>
    </div>
    
   
        
            
    

</body>
</html>
