@{
    ViewBag.Title = "Educadores";
}

<div class="jumbotron mainSectionEdu">
    <div class="container">
        <div class="row">
            <h3 class="mainSectionTitleEducator">Unete al grupo de maestros vanguardistas <br>que utilizan Cuenta Cuentos con sus estudiantes!</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p class="introEdu">
                Cuenta Cuentos, es una plataforma que ayuda a los estudiantes a crear cuentos
                de una manera ludica, facil y divertida. Es una estrategia academica inovadora
                que nos puede ayudar a fortalecer el proceso de eseñanza-aprendisaje,
                incrementar el aprovechamiento academico, fomentar la creatividad y
                diferenciacion de cada alumno, fortalecer una cultura de colaboracion en las
                escuelas, integrar el uso de la technologia, promover el buen uso de las artes del
                lenguaje, en todas las materias y sobrepasar los estandares de contenido y de
                desempeño en nuestros alumnos.
            </p>
        </div>
    </div>
    <div class="row">
        <center>
            <br>
            <div class="btn btn-success">
                REGISTRA TU ESCUELA
            </div>
            <br>
        </center>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <br />
            <h2 class="secondMainTitleEdu">Fortalece</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h4 class="secondTitle">Las siguientes areas en tus estudiantes:</h4>
        </div>
    </div>
    <div id="mp-Images">
        <img class="medium"><img src="~/Content/img/Educadores/fortalece.png" alt="doodle left" height="514" width="1696"></img>
     </diV>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="secondMainTitleEdu">Con Cuenta Cuentos Puedes:</h2>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/img/Educadores/checkmark.svg">
                </div>
                <div class="media-body">
                    <br>
                    <h4 class="media-heading"> Escojer entre cuentos escritos o producion de videos. </h4>
                </div>
            </div>
            <hr class="featureDivider">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/img/Educadores/checkmark.svg">
                </div>
                <div class="media-body">
                    <br>
                    <h4 class="media-heading"> Utilizar nuestras plantillas y banco de imagenes.</h4>
                </div>
            </div>
            <hr class="featureDivider">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/img/Educadores/checkmark.svg">
                </div>
                <div class="media-body">
                    <br>
                    <h4 class="media-heading"> Administrar los cuentos de tus estudiantes.</h4>
                </div>
            </div>
            <hr class="featureDivider">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/img/Educadores/checkmark.svg">
                </div>
                <div class="media-body">
                    <br>
                    <h4 class="media-heading"> Proveer comentarios y aprobar cuentos antes de publicar.</h4>
                </div>
            </div>
            <hr class="featureDivider">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/img/Educadores/checkmark.svg">
                </div>
                <div class="media-body">
                    <br>
                    <h4 class="media-heading"> Crear proyectos y organizar tus estudiantes por grupos.</h4>
                </div>
            </div>
            <hr class="featureDivider">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/img/Educadores/checkmark.svg">
                </div>
                <div class="media-body">
                    <br>
                    <h4 class="media-heading"> Exponer los cuentos de tu escuela en nuestra pagina.</h4>
                </div>
            </div>
            <hr class="featureDivider">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/img/Educadores/checkmark.svg">
                </div>
                <div class="media-body">
                    <br>
                    <h4 class="media-heading">Accesar la plataformas 24/7.</h4>
                </div>
            </div>
            <hr class="featureDivider">
        </div>
    </div>
</div>
<div class="jumbotron lastSectionEdu">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <center>
                    <img class="img img-responsive" src="~/Content/img/Educadores/Tere.png">
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br>
                <h5 class="tereQuote">
                    "La escritura creativa es el columpio donde podemos mecernos casi tocando el cielo,
                    estirando las piernas, respirando con ganas, riendo y maravillandonos de poder vencer las gravedad
                    y sentirnos que por fin escribimos porque estamos aprendiendo a volar o tal vez es que nuestra ansia de volar
                    es tan poderosa que queremos describirla escribiendo"
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br>
                <h4 class="TereQuoteAuthor">-Tere Marichal, 2014</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br>
                <div class="endMsg">
                    Subete al columpio de Cuenta Cuentos.<br>
                    Aprender debe ser divertido para el maestro y el estudiante!
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <center>
                <div class="btn btn-warning">
                    REGISTRA TU ESCUELA
                </div>
            </center>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br>
                <div class="endMsg">
                    <a href="#" class="footerlink">Comunicate con Nosotros</a> | <a href="#" class="footerlink">Recomendar a un amigo</a>
                </div>
            </div>
        </div>
    </div>
</div>