@{
    ViewBag.Title = "Educadores";
}

<div class="jumbotron mainSectionEdu">
    <div class="container">
        <div class ="mainSectionTitleEducator">
            
            <h3>Únete al grupo de maestros vanguardistas <br>que utilizan Cuenta Cuentos con sus estudiantes!</h3>
            <center>
            <img src="~/Content/img/logo.png" />
            </center>

        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top:-3%">
        <div class="col-md-6 col-md-offset-3">
            <p class="introEdu">
                Cuenta Cuentos, es una plataforma que ayuda a los estudiantes a crear cuentos
                de una manera ludica, facil y divertida. Es una estrategia academica inovadora
                que nos puede ayudar a fortalecer el proceso de eseñanza-aprendisaje,
                incrementar el aprovechamiento academico, fomentar la creatividad y
                diferenciacion de cada alumno, fortalecer una cultura de colaboracion en las
                escuelas, integrar el uso de la technologia, promover el buen uso de las artes del
                lenguaje, en todas las materias y sobrepasar los estandares de contenido y de
                desempeño en nuestros alumnos.
            </p>
        </div>
    </div>
    <div class="row">
        <center>
            <br>
            <div style="margin-top:30px" class="btn btn-success btnspecial">
                REGISTRA TU ESCUELA
            </div>
            <br>
        </center>
    </div>
    <div class="row">
        <center>
            <div>
                <br />
                <h2 class="secondMainTitleEdu">Fortalece</h2>
            </div>
            
            <div>
    <h4 class="secondTitle">Las siguientes areas en tus estudiantes:</h4>
            </div>
        </center>
    </div>
    
    <div class="row-img">
        <img class="ed-images"><img src="~/Content/img/Educadores/fortalece.png" alt="doodle left" height="514" width="1696">
     </diV>
    <div class="row">
        <div>
            <h2 class="secondMainTitleEdu1">Con Cuenta Cuentos Puedes:</h2>
            <br>
        </div>
    </div>
    <div class="row-Features">
        <div class="ed-features">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/img/Educadores/checkmark.svg">
                </div>
                <div class="media-body">
                    <br>
                    <h5 class="media-heading"> Escoger entre cuentos escritos o producción de videos.</h5>
                </div>
            </div>
            <div class="featureDivider"></div>
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/img/Educadores/checkmark.svg">
                </div>
                <div class="media-body">
                    <br>
                    <h5 class="media-heading"> Utilizar nuestras plantillas y banco de imágenes.</h5>
                </div>
            </div>
            <div class="featureDivider"></div>
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/img/Educadores/checkmark.svg">
                </div>
                <div class="media-body">
                    <br>
                    <h5 class="media-heading"> Administrar los cuentos de tus estudiantes.</h5>
                </div>
            </div>
            <div class="featureDivider"></div>
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/img/Educadores/checkmark.svg">
                </div>
                <div class="media-body">
                    <br>
                    <h5 class="media-heading">Proveer comentarios y aprobar cuentos antes de publicar.</h5>
                </div>
            </div>
            <div class="featureDivider"></div>
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/img/Educadores/checkmark.svg">
                </div>
                <div class="media-body">
                    <br>
                    <h5 class="media-heading">Crear proyectos y organizar tus estudiantes por grupos.</h5>
                </div>
            </div>
            <div class="featureDivider"></div>
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/img/Educadores/checkmark.svg">
                </div>
                <div class="media-body">
                    <br>
                    <h5 class="media-heading"> Exponer los cuentos de tu escuela en nuestra página.</h5>
                </div>
            </div>
            <div class="featureDivider"></div>
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="~/Content/img/Educadores/checkmark.svg">
                </div>
                <div class="media-body">
                    <br>
                    <h5 class="media-heading">Accesar la plataformas 24/7.</h5>
                </div>
            </div>
            <div class="featureDivider"></div>
        </div>
    </div>
</div>
<div class="jumbotron lastSectionEdu">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <center>
                    <img class="img img-responsive" src="~/Content/img/Educadores/Tere.png">
                </center>
            </div>
        </div>
        <div class="row-quote">
            <div class="col-quote">
                <br>
                <h5 class="tereQuote">
                    "La escritura creativa es el columpio donde podemos mecernos casi tocando<br /> el cielo,
                    estirando las piernas, respirando con ganas, riendo y maravillandonos<br />  de poder vencer las gravedad
                    y sentirnos que por fin escribimos porque <br /> estamos aprendiendo a volar o tal vez es que nuestra ansia de volar
                    es tan<br />  poderosa que queremos describirla escribiendo"
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-quote1">
                <br>
                <h4 class="TereQuoteAuthor">—Tere Marichal, 2014</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-quote">
                <br>
                <div class="endMsg">
                    Súbete al columpio de Cuenta Cuentos.<br>
                    ¡Aprender debe ser divertido para el maestro y el estudiante!
                </div>
            </div>
        </div>
        <div class="row-btn">
            <center>
                <div class="btn btn-warning btnspecial">
                    REGISTRA TU ESCUELA
                </div>
            </center>
        </div>

        <div class="row">
            <div class="col-quote">
                <br>
                <div class="endMsg">
                    <a href="#" class="footerlink">Comunícate con Nosotros</a>&nbsp;&nbsp;|&nbsp;&nbsp; <a href="#" class="footerlink">Recomendar a un amigo</a>
                <br/>
                <br/>
                <br />
                <br />
                </div>
            </div>
        </div>
    </div>
</div>