@{
    ViewBag.Title = "Ayuda";
}



<div class="content ayuda">
    <div class="wp clearfix">
        <h1>Ayuda</h1>
        <h2>Aquí encontrarás la ayuda necesaria para crear tu cuento.</h2>

        <aside id="menuanchors">
            <ul>
                <li class="active"> <a href="#box1">INTRODUCCIÓN AL CREADOR DE CUENTOS</a></li>
                <li><a href="#box2">CREANDO UN CUENTO NUEVO</a></li>
                <li><a href="#box3">AÑADIENDO TEXTO</a></li>
                <li><a href="#box4">USANDO LA GALERÍA DE IMÁGENES</a></li>
                <li><a href="#box5">GUÍA PARA COMENZAR TU CUENTO</a></li>
                <li><a href="#box6">REVISANDO TU CUENTO</a></li>
                <li><a href="#box7">PUBLICANDO TU CUENTO</a></li>
            </ul>
        </aside>
        <section>
            <article class="clearfix" id="box1">
                <h2>Introducción al creador de cuentos</h2>
                <figure class="left">
                    <img src="~/Content/img/cuento-thumb.png" width="360" height="230">
                </figure>
                <p>His ipsúm débitis veritus eu. Sed justo animal eu. Liber tíbique suscipit té vel, soleat saperet laboramús pri né, in vis dolor muciús. Cetéro instructior has ex. Te fúgit scrípta coñstituto his, an sed tibique eligendi. Primís partiendo vix ñe, decore mnésarchum sed eu, liber dissentias his ét.</p>

                <p>Cú putant pericúlis temporibus mei, nomináti scripserit ad has. Férri vitae eos in, ei iús modo corrumpit consectetuer, no rídens hábemus duo. At vel falli mediocrem iñtellegam, décore partiendo periculis ei his, ad cívibus omittam maiestatís duo. Atqui ábhorreant est in, éa vim iudico scrípta honestatis, per ad eros díscere splendidé. ¡Elitr integre probatus qúi te, ad est minim necessitatibus, sed saépe accumsañ singulis ei!</p>
            </article>

            <article class="clearfix" id="box2">
                <h2>Creando un cuento nuevo</h2>
                <p>Nec ex ridéns repudíandae cómplectitur, bonorum ceterós per añ, mundi eleifend vulputaté ex usu. ¡Ei liber molestiae sed! Vim aliquid adoléscens philosóphia ei, brute omnium doctus te eum, ñobis meñandri ne vis. Eos libris populo te, at vél vitae luptatúm. Ius ne corrúmpit consetetur, quo út libris luptatum.</p>
                <div class="row">
                    <figure class="col-md-5">
                        <img src="~/Content/img/cuento-thumb.png">
                    </figure>
                    <figure class="col-md-5">
                        <img src="~/Content/img/cuento-thumb.png">
                    </figure>
                </div>
                <p>Duo né méliore definitioñes. Mel nó dictas lábores, ut qúi iuvaret défiñiebas disputationi. ¡Hís at adhuc álterum instructior! ¿Meís intellegat an úsu?</p>

                <p>No est habeo lúptatum irácundia. ¡Pri an option aliquando ullamcorper, ei sale fabellas efficiantúr mei! ¿Amet essent sadipsciñg his cu? No quo vidit óption scripserít, case habeo graeci cu vis. ¡Mél vitaé equídem cotidieque id, tale eloquentiam in his! Eripúit atomorum facilisis has út, at sed qúaeque nomínavi.</p>

                <p>Pro ea ridens adversarium philosophia, perfectó molestiae mea ei. ¡Ad quidám optioñ eleifeñd mea, meí ei mínimum delicata adípiscing, nam oblique sanctus éu! Albucíus cóñvenire at mei, ut solet intellegat dúo. Liber voluptaria ñec ea, graecí minimum adipisci cúm eu, viveñdum intellégat definitionés an sed. Nó nec augue iuvaret recteque, ei séd altera graecis luptatum.</p>

                <p>¡Mel véro summo eu, quo éa adhuc brúte! ¡Enim lucilius gubergren quó añ, in vis vivendo déñique, est méliore splendide ei! Ut dúo odio minim, ea eam nusquam vulputate. ¿Nam id coñgue consulatu laboramus? ¿Alií constituam sit án, mei purto delenit signiferumque eú? </p>
            </article>

            <article class="clearfix" id="box3">
                <h2>Introducción al creador de cuentos</h2>
                <figure class="left">
                    <img src="~/Content/img/cuento-thumb.png">
                </figure>
                <p>His ipsúm débitis veritus eu. Sed justo animal eu. Liber tíbique suscipit té vel, soleat saperet laboramús pri né, in vis dolor muciús. Cetéro instructior has ex. Te fúgit scrípta coñstituto his, an sed tibique eligendi. Primís partiendo vix ñe, decore mnésarchum sed eu, liber dissentias his ét.</p>

                <p>Cú putant pericúlis temporibus mei, nomináti scripserit ad has. Férri vitae eos in, ei iús modo corrumpit consectetuer, no rídens hábemus duo. At vel falli mediocrem iñtellegam, décore partiendo periculis ei his, ad cívibus omittam maiestatís duo. Atqui ábhorreant est in, éa vim iudico scrípta honestatis, per ad eros díscere splendidé. ¡Elitr integre probatus qúi te, ad est minim necessitatibus, sed saépe accumsañ singulis ei!</p>
            </article>

            <article class="clearfix" id="box4">
                <h2>Creando un cuento nuevo</h2>
                <p>Nec ex ridéns repudíandae cómplectitur, bonorum ceterós per añ, mundi eleifend vulputaté ex usu. ¡Ei liber molestiae sed! Vim aliquid adoléscens philosóphia ei, brute omnium doctus te eum, ñobis meñandri ne vis. Eos libris populo te, at vél vitae luptatúm. Ius ne corrúmpit consetetur, quo út libris luptatum.</p>
                <div class="row">
                    <figure class="col-md-5">
                        <img src="~/Content/img/cuento-thumb.png">
                    </figure>
                    <figure class="col-md-5">
                        <img src="~/Content/img/cuento-thumb.png">
                    </figure>
                </div>
                <p>Duo né méliore definitioñes. Mel nó dictas lábores, ut qúi iuvaret défiñiebas disputationi. ¡Hís at adhuc álterum instructior! ¿Meís intellegat an úsu?</p>

                <p>No est habeo lúptatum irácundia. ¡Pri an option aliquando ullamcorper, ei sale fabellas efficiantúr mei! ¿Amet essent sadipsciñg his cu? No quo vidit óption scripserít, case habeo graeci cu vis. ¡Mél vitaé equídem cotidieque id, tale eloquentiam in his! Eripúit atomorum facilisis has út, at sed qúaeque nomínavi.</p>

                <p>Pro ea ridens adversarium philosophia, perfectó molestiae mea ei. ¡Ad quidám optioñ eleifeñd mea, meí ei mínimum delicata adípiscing, nam oblique sanctus éu! Albucíus cóñvenire at mei, ut solet intellegat dúo. Liber voluptaria ñec ea, graecí minimum adipisci cúm eu, viveñdum intellégat definitionés an sed. Nó nec augue iuvaret recteque, ei séd altera graecis luptatum.</p>

                <p>¡Mel véro summo eu, quo éa adhuc brúte! ¡Enim lucilius gubergren quó añ, in vis vivendo déñique, est méliore splendide ei! Ut dúo odio minim, ea eam nusquam vulputate. ¿Nam id coñgue consulatu laboramus? ¿Alií constituam sit án, mei purto delenit signiferumque eú? </p>
            </article>

            <article class="clearfix" id="box5">
                <h2>Introducción al creador de cuentos</h2>
                <figure class="left">
                    <img src="~/Content/img/cuento-thumb.png">
                </figure>
                <p>His ipsúm débitis veritus eu. Sed justo animal eu. Liber tíbique suscipit té vel, soleat saperet laboramús pri né, in vis dolor muciús. Cetéro instructior has ex. Te fúgit scrípta coñstituto his, an sed tibique eligendi. Primís partiendo vix ñe, decore mnésarchum sed eu, liber dissentias his ét.</p>

                <p>Cú putant pericúlis temporibus mei, nomináti scripserit ad has. Férri vitae eos in, ei iús modo corrumpit consectetuer, no rídens hábemus duo. At vel falli mediocrem iñtellegam, décore partiendo periculis ei his, ad cívibus omittam maiestatís duo. Atqui ábhorreant est in, éa vim iudico scrípta honestatis, per ad eros díscere splendidé. ¡Elitr integre probatus qúi te, ad est minim necessitatibus, sed saépe accumsañ singulis ei!</p>
            </article>

            <article class="clearfix" id="box6">
                <h2>Creando un cuento nuevo</h2>
                <p>Nec ex ridéns repudíandae cómplectitur, bonorum ceterós per añ, mundi eleifend vulputaté ex usu. ¡Ei liber molestiae sed! Vim aliquid adoléscens philosóphia ei, brute omnium doctus te eum, ñobis meñandri ne vis. Eos libris populo te, at vél vitae luptatúm. Ius ne corrúmpit consetetur, quo út libris luptatum.</p>
                <div class="row">
                    <figure class="col-md-5">
                        <img src="~/Content/img/cuento-thumb.png">
                    </figure>
                    <figure class="col-md-5">
                        <img src="~/Content/img/cuento-thumb.png">
                    </figure>
                </div>
                <p>Duo né méliore definitioñes. Mel nó dictas lábores, ut qúi iuvaret défiñiebas disputationi. ¡Hís at adhuc álterum instructior! ¿Meís intellegat an úsu?</p>

                <p>No est habeo lúptatum irácundia. ¡Pri an option aliquando ullamcorper, ei sale fabellas efficiantúr mei! ¿Amet essent sadipsciñg his cu? No quo vidit óption scripserít, case habeo graeci cu vis. ¡Mél vitaé equídem cotidieque id, tale eloquentiam in his! Eripúit atomorum facilisis has út, at sed qúaeque nomínavi.</p>

                <p>Pro ea ridens adversarium philosophia, perfectó molestiae mea ei. ¡Ad quidám optioñ eleifeñd mea, meí ei mínimum delicata adípiscing, nam oblique sanctus éu! Albucíus cóñvenire at mei, ut solet intellegat dúo. Liber voluptaria ñec ea, graecí minimum adipisci cúm eu, viveñdum intellégat definitionés an sed. Nó nec augue iuvaret recteque, ei séd altera graecis luptatum.</p>

                <p>¡Mel véro summo eu, quo éa adhuc brúte! ¡Enim lucilius gubergren quó añ, in vis vivendo déñique, est méliore splendide ei! Ut dúo odio minim, ea eam nusquam vulputate. ¿Nam id coñgue consulatu laboramus? ¿Alií constituam sit án, mei purto delenit signiferumque eú? </p>
            </article>

            <article class="clearfix" id="box7">
                <h2>Introducción al creador de cuentos</h2>
                <figure class="left">
                    <img src="~/Content/img/cuento-thumb.png">
                </figure>
                <p>His ipsúm débitis veritus eu. Sed justo animal eu. Liber tíbique suscipit té vel, soleat saperet laboramús pri né, in vis dolor muciús. Cetéro instructior has ex. Te fúgit scrípta coñstituto his, an sed tibique eligendi. Primís partiendo vix ñe, decore mnésarchum sed eu, liber dissentias his ét.</p>

                <p>Cú putant pericúlis temporibus mei, nomináti scripserit ad has. Férri vitae eos in, ei iús modo corrumpit consectetuer, no rídens hábemus duo. At vel falli mediocrem iñtellegam, décore partiendo periculis ei his, ad cívibus omittam maiestatís duo. Atqui ábhorreant est in, éa vim iudico scrípta honestatis, per ad eros díscere splendidé. ¡Elitr integre probatus qúi te, ad est minim necessitatibus, sed saépe accumsañ singulis ei!</p>
            </article>

        </section>

    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var pageheight = $("body").height();
        $(document).on("ready", function () {
            $('aside').css('height', $('section').height());

            
        });

        $(window).load(function () {
            $('#menuanchors li a').on('click', function () {
                $('li.active').removeClass('active');
                $(this).closest("li").addClass('active');
            });
        });

        $(window).on("scroll", function () {
            var scrollHeight = $(document).height();
            var scrollPosition = $(window).height() + $(window).scrollTop();
            if ((scrollHeight - scrollPosition) / scrollHeight === 0) {
                // when scroll to bottom of the page
                //alert("Bottom!");
                $("#menuanchors ul").css({ "position": "static", "margin-top": "3026px" });
                
            } else {
                $("#menuanchors ul").css({ "position": "fixed", "margin-top": "0px" });
            }
        });
       
    </script>

}