@model List<Cuentos.Models.Story>
@using Cuentos.Lib
@using Cuentos.Lib.Helpers
@{
    ViewBag.Title = "Home";
    ViewBag.BodyId = "home";
}

<div class="content">
    <div class="carousel-div">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/img/home/01Main_Slider_CuentaCuentos.png" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/img/home/02Main_Slider_CuentaCuentos.png" alt="Main_Slider">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/img/home/03Main_Slider_CuentaCuentos.png" alt="...">
                    <div class="carousel-caption">
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        </div>
        <div class="main description">
            <div class="mp-book">
                <img class="mp-md-book" src="~/Content/img/Home/Cuento_icon.svg" alt="...">
            </div>
            <p class="mp-md-p">
                Cuenta Cuentos ayuda al estudiante afortalecer sus destrezas de escritura y <br /> dialecto.
                Es una estrategia divertida e innovadora que fomenta la creatividad<br />y diferencicion de cada alumno, mientras crea una cultura de colaboracion<br />
                entre el estudiante,los maestros y los padres.<href>¡Conocenos!</href>
            </p>
        </div> 
                <div class="purple-section">
                    <div class="container">
                        <div class="col-md-12">
                            <h3 id="slider1Title">VIDEOCUENTOS RECOMENDADOS</h3>

                            <div class="well">
                                <div id="myCarousel" class="carousel slide">

                                    <!-- Carousel items http://www.bootply.com/81478 -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <a href="#x"><img src="http://lorempixel.com/output/animals-q-c-311-173-4.jpg" style="margin:auto;;" alt="Image" class="img-responsive"></a>
                                                </div>
                                                <div class="col-sm-3">
                                                    <a href="#x"><img src="http://lorempixel.com/output/animals-q-c-311-173-4.jpg" style="margin:auto;" alt="Image" class="img-responsive"></a>
                                                </div>
                                                <div class="col-sm-3">
                                                    <a href="#x"><img src="http://lorempixel.com/output/animals-q-c-311-173-4.jpg" style="margin:auto;" alt="Image" class="img-responsive"></a>
                                                </div>
                                            
                                            </div>
                                            <!--/row-->
                                        </div>
                                        <!--/item-->
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                </div>
                                                <div class="col-sm-3">
                                                    <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                </div>
                                                <div class="col-sm-3">
                                                    <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                </div>
                                            </div>
                                            <!--/row-->
                                        </div>
                                        <!--/item-->
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                </div>
                                                <div class="col-sm-3">
                                                    <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                </div>
                                                <div class="col-sm-3">
                                                    <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
                                                </div>                                             
                                            </div>
                                            <!--/row-->
                                        </div>
                                        <!--/item-->
                                    </div>
                                    <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                                </div>
                                <!--/myCarousel-->
                            </div>
                            <!--/well-->
                        </div>
                    </div>
                </div>

                    <div class="clearfix"></div>
                    @*<a href="@Url.RouteUrl("CrearCuento")" class="btn_naranja btn_crea">Crea tu cuento aquí</a>*@
                

                <div id="mp-Images">
                    <img id="mp-center-img"  src="~/Content/img/Home/home_backdrop.svg" alt="...">
                    <div id="red-box"><img class="mp-imgwtxttl" src="~/Content/img/home/red_box.svg" style="width:30%;height:auto;" /><p id="red-box-text"><span class="1" style="font-size:2em;font-weight:bolder;">DESCUBRE</span><span class="2" style="font-size:1.2em;padding-left:2%;">una comunidad de genios<br />creativos. Encuentra cuentos y videos de estudiantes<br />de otras escuelas alrededor del mundo. Ideentifica tus<br /> favoritos, provee comentarios y comparte con tus<br /> amigos.</span></p></div>
                    <div id="green-box"><img class="mp-imgwtxttl" src="~/Content/img/home/green_box.svg" style="width:30%;height:auto;" /><p id="green-box-text"><span class="1" style="font-size:2em;font-weight:bolder;">CREA</span><span class="2" style="font-size:1.2em;padding-left:2%;">historias increibles con tus palabras e<br />imaginacion. Utiliza nuestras herramientas de creacion<br />de cuentos que te ayudaran as construir los cuentos en<br /> cuestion de minutos.Contamos con un banco de artes <br /> para buscar inspiracion y utilizar en tus historias.</span></p></div>
                    <div id="blue-box"><img class="mp-imgwtxttl" src="~/Content/img/home/blue_box.svg" style="width:30%;height:auto;" /><p id="blue-box-text"><span class="1" style="font-size:2em;font-weight:bolder;">COMPARTE</span><span class="2" style="font-size:1.2em;padding-left:2%;">tus cuentos. Al otro <br />lado del mundo habra otros estudiantes que <br />le interesara leer o ver sobre tus historias,<br /> anecdotas o fantasias. <br /> </span></p></div>


                    <div class="home_newsletter">
                        <H1>UNETE A CUENTA CUENTOS</H1>
                        <h3 id="mp-news">Mantente informado de nuestros servicio,eventos y cuentos recientes.<br />¡Miles de escritores, artistas y lectores ya son parte de la comunidad en Cuenta Cuentos!</h3>
                        <div id="newsltr-form">
                            <form style="width:100%; display:inline;padding-bottom:5%" action="demo_form.asp">
                                <input id="name-form"placeholder="Nombre" style="border-radius:12px;" type="text" name="Name"><br>
                                <input id="email-form" placeholder="Email" style="border-radius:12px;" type="text" name="Email"><br>
                                <input id="country-form" placeholder="Pais" style="border-radius:12px;" type="text" name="Country"><br>
                                <input id="nws-submt-btn" type="submit" value="Suscribeme">
                            </form>
                        </div>
                    </div>
                    <div></div>
                    </body>
                    </html>

                </div>
        
        </div>
    


    @section scripts {
            
    <!-- lightSlider Javascript file -->
    <script type="text/javascript">  $(document).ready(function() {
                        $("#lightSlider").lightSlider();
                     });
    </script>
        <script type="text/javascript">
    $(document).ready(function() {
        $("#lightSlider").lightSlider({
            item: 3,
            autoWidth: false,
            slideMove: 1, // slidemove will be 1 if loop is true
            slideMargin: 10,

            addClass: '',
            mode: "slide",
            useCSS: true,
            cssEasing: 'ease', //'cubic-bezier(0.25, 0, 0.25, 1)',//
            easing: 'linear', //'for jquery animation',////

            speed: 400, //ms'
            auto: false,
            loop: false,
            slideEndAnimation: true,
            pause: 2000,

            keyPress: false,
            controls: true,
            prevHtml: '',
            nextHtml: '',

            rtl:false,
            adaptiveHeight:false,

            vertical:false,
            verticalHeight:500,
            vThumbWidth:100,

            thumbItem:10,
            pager: true,
            gallery: false,
            galleryMargin: 5,
            thumbMargin: 5,
            currentPagerPosition: 'middle',

            enableTouch:true,
            enableDrag:true,
            freeMove:true,
            swipeThreshold: 40,

            responsive : [],

            onBeforeStart: function (el) {},
            onSliderLoad: function (el) {},
            onBeforeSlide: function (el) {},
            onAfterSlide: function (el) {},
            onBeforeNextSlide: function (el) {},
            onBeforePrevSlide: function (el) {}
        });
    });
        </script>

        <!-- bxSlider Javascript file -->
        <script src="~/Scripts/vendor/jquery.bxslider/jquery.bxslider.min.js"></script>
        <!-- bxSlider CSS file -->
        <link href="~/Scripts/vendor/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />

        <script>

            $(document).ready(function () {
                $('.bxslider').bxSlider({
                    adaptiveHeight: true,
                    nextSelector: '#slider-next',
                    prevSelector: '#slider-prev',
                    nextText: 'Onward →',
                    prevText: '← Go back'
                });
            });

            var homeDivisor = 2.08;
        </script>
        <script src="~/Scripts/fixImagesSize.js"></script>
    }