@model List<Cuentos.Models.Story>
@using Cuentos.Lib
@using Cuentos.Lib.Helpers
@{
    ViewBag.Title = "Home";
    ViewBag.BodyId = "home";
}

<html>
<body>
<div class="content">
    <div class="carousel-div">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/img/home/01Main_Slider_CuentaCuentos.png" alt="...">
                    <div class="carousel-caption">
                        <div class="row-mp">
                            <h1>Libera tu imaginación<br />y atrévete a soñar.</h1>
                            <p style="font-size:1.3em; text-align:center;">Inspírate en hechos reales o ficticios de tus personajes,<br /> lugares y ocurrencias.</p>
                            
                            <a href="@Url.RouteUrl("CrearCuento")" class="btn_naranja btn_crea">CREA TU CUENTO</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/img/home/02Main_Slider_CuentaCuentos.png" alt="Main_Slider">
                    <div class="carousel-caption">
                        <div class="row-mp1">
                            <h1>Fortalece la escritura y<br />el dialecto del estudiante.</h1>
                            <p style="font-size:1.3em; text-align:center;">Mientras se divierte usando su imaginacion.</p>
                            <a href="@Url.RouteUrl("CrearCuento")" class="btn_naranja btn_crea">CONOCE MAS</a>
                        </div>
                    </div>
                   </div>
                    <div class="item">
                        <img src="~/Content/img/home/03Main_Slider_CuentaCuentos.png" alt="...">
                        <div class="carousel-caption">
                            <div class="row-mp2">
                            <h1 style="text-align:center;">Nace en ti el deseo de expresar lo que ves <br /> lo que sientes y lo que piensas.</h1>
                                <p style="font-size:1.3em; text-align:center;"> Imagina tu cuento, constrúyelo y comparte con otros.</p>
                            <a href="@Url.RouteUrl("CrearCuento")" class="btn_naranja btn_crea">PUBLICA TU PRIMER CUENTO</a>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main description">
            <div class="mp-book">
                <img class="mp-md-book" src="~/Content/img/Home/Cuento_icon.svg" alt="...">
            </div>
            <p class="mp-md-p">
                Cuenta Cuentos ayuda al estudiante afortalecer sus destrezas de escritura y <br /> dialecto.
                Es una estrategia divertida e innovadora que fomenta la creatividad<br />y diferencicion de cada alumno, mientras crea una cultura de colaboracion<br />
                entre el estudiante,los maestros y los padres. <a href="/home/about">¡Conócenos!</a>
            </p>

            
        </div>
    
    <div class="featuredwrapper">
        <center>
            <div class="featuredbox">
                <div class="featuredvideo"><img src="~/Content/img/00featureddummy.png" /></div>
                <div class="featuredcontent"><h1>El Secreto de Mandy</h1><p>Por: Jaer Cabán</p>
                    <div class="rating">
                        <img src="~/Content/img/home/rating_star.svg" />
                        <img src="~/Content/img/home/rating_star.svg" />
                        <img src="~/Content/img/home/rating_star.svg" />
                        <img src="~/Content/img/home/rating_star.svg" />
                        <img src="~/Content/img/home/rating_star.svg" />
                    </div>
                    <br /><br />
                    <div><p>Owen Wilson y Jennifer Aniston conforman a un matrimonio de periodistas que adoptan un labrador que está en oferta a u$s 200, que más que un perro parece un león. Marley (que en términos bestiales mucho tiene que ver con el animador de TV) es insoportable, nadie lo aguanta, destruye todo lo que encuentra y pone a la joven pareja.</p></div></div>
            </div>
        </center>
    </div>


        <div class="purple-section" style="margin-top:320px; border-top: 1px solid #fff">
            <div class="container">
                <div class="col-md-12" style="margin-top:125px">
                    <br />
                    <h3 id="slider1Title">VIDEOCUENTOS RECOMENDADOS</h3>

                    <div class="col-md-12">
                       

                        <div class="well">
                            <div id="myCarousel" class="carousel slide">

                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <!--/item-->
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <!--/item-->
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/02videodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/03videodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/01videodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <!--/item-->
                                </div>
                                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                            </div>
                            <!--/myCarousel-->
                        </div>
                        <!--/well-->
                    </div>


                </div>
                <div class="col-md-12">
                    <h3 id="slider1Title">CUENTOS RECIENTES</h3>
                    <div class="col-md-12">


                        <div class="well">
                            <div id="myCarousel" class="carousel slide">

                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/01cuentodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/02cuentodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/03cuentodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/04cuentodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <!--/item-->
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/05cuentodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/03cuentodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/02cuentodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/01cuentodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <!--/item-->
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/03cuentodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/05cuentodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/04cuentodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="#x"><img src="~/Content/img/02cuentodummy.png" alt="Image" class="img-responsive"></a>
                                            </div>
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <!--/item-->
                                </div>
                                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                            </div>
                            <!--/myCarousel-->
                        </div>
                        <!--/well-->
                    </div>


                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        @*<a href="@Url.RouteUrl("CrearCuento")" class="btn_naranja btn_crea">Crea tu cuento aquí</a>*@


        <div id="mp-Images">
            <img id="mp-center-img" src="~/Content/img/Home/home_backdrop.svg" alt="...">
            
            <!--red box-->
            <div id="red-box"><img src="~/Content/img/home/red_box.svg" style="width:45%;height:auto;"/>
                <div class="redboxtext">
                    <h1>DESCUBRE</h1>
                    <p>una comunidad de genios creativos. Encuentra cuentos y videos de estudiantes de otras escuelas alrededor del mundo. Identifica tus favoritos, provee comentarios y comparte con tus amigos.</p>
                </div>
            </div>
       
            <!--green box-->
            <div id="green-box"><img src="~/Content/img/home/green_box.svg" style="width:45%; height:auto;" />
    <div class="greenboxtext">
        <h1>CREA</h1>
        <p>historias increibles con tus palabras e imaginacion. Utiliza nuestras herramientas de creacion de cuentos que te ayudaran as construir los cuentos en cuestion de minutos.Contamos con un banco de artes para buscar inspiracion y utilizar en tus historias.</p>
    </div>
            </div>

            <!--blue box-->
            <div id="blue-box"><img src="~/Content/img/home/blue_box.svg" style="width:40%;height:auto;" />
                <div class="blueboxtext">
                    <h1>COMPARTE</h1>
                    <p>tus cuentos con tus amigos y familiares desde nuestra plataforma. Communícate con otros estudiantes a quienes les interesará leer o ver sobre tus historias, anécdotas y opiniones. </p>
                </div>
          </div>
            </div>      


    <div class="home_newsletter">
        <h1>ÚNETE A CUENTA CUENTOS</h1>
        <h3 id="mp-news">Mantente informado de nuestros servicio,eventos y cuentos recientes.<br />¡Miles de escritores, artistas y lectores ya son parte de la comunidad en Cuenta Cuentos!</h3>
        <div id="newsltr-form">
            <form style="width:100%; display:inline;padding-bottom:5%" action="demo_form.asp">
                <input id="name-form" placeholder="Nombre" style="border-radius:12px;" type="text" name="Name"><br>
                <input id="email-form" placeholder="Email" style="border-radius:12px;" type="text" name="Email"><br>
                <input id="country-form" placeholder="Pais" style="border-radius:12px;" type="text" name="Country"><br>
                <input id="nws-submt-btn" type="submit" value="Suscribeme">
            </form>
        </div>
    </div>

    </body>
    </html>

</div>




    @section scripts {

        <!-- lightSlider Javascript file -->
        <script type="text/javascript">
            $(document).ready(function () {
                $("#lightSlider").lightSlider();
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#lightSlider").lightSlider({
                    item: 3,
                    autoWidth: false,
                    slideMove: 1, // slidemove will be 1 if loop is true
                    slideMargin: 10,

                    addClass: '',
                    mode: "slide",
                    useCSS: true,
                    cssEasing: 'ease', //'cubic-bezier(0.25, 0, 0.25, 1)',//
                    easing: 'linear', //'for jquery animation',////

                    speed: 400, //ms'
                    auto: false,
                    loop: false,
                    slideEndAnimation: true,
                    pause: 2000,

                    keyPress: false,
                    controls: true,
                    prevHtml: '',
                    nextHtml: '',

                    rtl: false,
                    adaptiveHeight: false,

                    vertical: false,
                    verticalHeight: 500,
                    vThumbWidth: 100,

                    thumbItem: 10,
                    pager: true,
                    gallery: false,
                    galleryMargin: 5,
                    thumbMargin: 5,
                    currentPagerPosition: 'middle',

                    enableTouch: true,
                    enableDrag: true,
                    freeMove: true,
                    swipeThreshold: 40,

                    responsive: [],

                    onBeforeStart: function (el) { },
                    onSliderLoad: function (el) { },
                    onBeforeSlide: function (el) { },
                    onAfterSlide: function (el) { },
                    onBeforeNextSlide: function (el) { },
                    onBeforePrevSlide: function (el) { }
                });
            });
        </script>

        <!-- bxSlider Javascript file -->
        <script src="~/Scripts/vendor/jquery.bxslider/jquery.bxslider.min.js"></script>
        <!-- bxSlider CSS file -->
        <link href="~/Scripts/vendor/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />

        <script>

            $(document).ready(function () {
                $('.bxslider').bxSlider({
                    adaptiveHeight: true,
                    nextSelector: '#slider-next',
                    prevSelector: '#slider-prev',
                    nextText: 'Onward →',
                    prevText: '← Go back'
                });
            });

            var homeDivisor = 2.08;
        </script>
        <script src="~/Scripts/fixImagesSize.js"></script>
    }
