@{
    ViewBag.Title = "Padres";
}
<div class="jumbotron mainSection">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="mainSectionTitle">Tu eres parte importante<br /> en todo el processo educativo <br /> y creativo de tu hijo (a).</h2>
                <h5 class="mainSectionSubTitle">
                    Cuando te involucras en Cuenta Cuentos, tus hijos no se sienten <br /> solos en este camino ya que eres una ayuda idonea,
                    pues fuiste el<br /> primer maestro por excelencia en su vida.
                </h5>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div clas="row">
        <center>
            <h2 class="mainTitle">Al Ser parte de esta plataforma ayudas a fortalecer:</h2>
            <h4 class="secondTitle">
                las siguientes areas en tus niños/as:</h5>
                <br>
                <div class="graph">
                    <img class="img img-responsive" src="~/Content/img/Padres/grafica.svg" />
                    <img class="img img-responsive" src="~/Content/img/Padres/menino.png" />
                </div>               
                <br>
                <h2 class="secondMainTitle">Intercambia y comparte experiencias e <br> inquietudes, promoviendo el dialogo<br> con tus hij@s.</h2>
                <br>
                <p class="paragraph">
                    En Cuenta Cuentos tus hij@@s podran descubrir la satisfacion <br>que produce realizar y construir diversas
                    actividades simples, para <br> lograr escribir cuentos, ilustrarlos y publicarlos en un solo lugar.<br> Abrochate el cinturon y emprende este
                    nuevo viaje donde toda la<br> familia puede disfrutar. Eres parte importante en el proceso<br> educativo de tu hij@@. Cuentame tu cuento en Cuenta Cuentos!
                </p>
                <br>
                <div class="btn btn-register btn-lg">
                    Registrate
                </div>
        </center>
    </div>
</div>
