@{
    ViewBag.Title = "Politica de Privacidad";
}

<div class="content terminos">
    <div class="wp">
        <h1>Políticas de Privacidad</h1>

        <div class="text">
            <p>Lorem ipsum dolor sit amét, cum mollís aliquíd feugiát ex, te pro possit fuissét. Ex mel tation deseruisse, vis te lorém voluptua. ¿Quo graece everti ad, mea suás ponderum ut? Dicant admodum legendos cum éa, ad pri súmmo error qualisque. ¡Enim wísi persequeris est ad, quó putant singulis id!</p>
            <p>Est no probo verear, has possít qualisque no. At alterum tíbique quo, éi usu optión íñtegre. ¡Iústo labitur voluptatum eam ad! Cum ea zril praésent. Velit liber ñoster vel no, út pri latiñe praesent.</p>
            <p>Vis dicit ridéns epicurei ne, id stet unum iisque est. Nonumy salutandi éi nec. ¡Id nec rídens nóstrud, quod antiopam forensibus ut éum! ¿Qúot definiebas ád his? ¡Mazim dolóres facilísi at has, te vel sumo eros phaedrúm! Impedít necessitatibus pri añ.</p>
            <p>Ad deñique recteque quí, añ pericúla repudiañdae coñclusionemqué vim. ¿Graécis suscipiántur néc id? ¿Populo tacimates neglegentur vel ea, ést eí virtute díssentiet, has cu partieñdo gloriatur? ¡Ex vím zril antiopam erroribus! ¡No liber aliquañdo nam! Añ fuisset deleñiti hendrerít eám, no foreñsibus abhorreañt eos, graece caúsae liberavisse ne pri.</p>
            <p>Habeo dolóres maluisset at eam. ¿Per optíon nostrud ad, áutem zríl denique has cu, nec expeteñda persequeris complectitur te? Te persius offendít delicata qui. Sit sólet obliqúe ea, séa id aeterno ornátus reprimique. Ei vel tamqúam voluptua.</p>
            <p>¿Véro exérci sed áñ? Eurípidis deseruísse pri eú, ferri forensibus senteñtiaé vim no. ¿Vidit suscipiantúr ut éam, constituto quaerendúm id vel? ¿Labítur débitis mediocrem nec ea, his ne mollis dolórum persequeris?</p>
            <p>Meí libér appareat delicatissimi eú, discere cónsequat ea cum, ad nam erát módus graece. Ut alíenum percipitur intéllegam mel, ius laudem perículis ea, et has fugit expetenda. Pro te velit doming quidam, id mei áffert mucius accommodare, sale perfectó signiferumque et vis. Erós mucius quaestio usu éx, mel an unum accusata. ¡In quód volutpat qui! Nam sale affért maluisset ád.</p>
            <p>Usu utinam ñeglegentúr ne, vim ipsúm utinam id. Ad prí simúl blañdit, per at muñere éuismod próbatus. ¡Etiam perfecto laboramus cu duo, populo utróque sed ut! Dicam foreñsibus móderatius cum án, cu omñés audiam per, pro no utroque délectus maiestátis.</p>
            <p>¡Iñ eúm laudém mnesarchum adversárium, utroqúe molestie quo ne, in soluta deseruisse vel! Per altera saperet offéndit at, vix et euripídis íntellegam. Eu mel inaní graecis. Id vis tóllit praesént moderatius, súmo maiorum appetere ei sit, an etiam déleniti euripidís ius. Módus íudicabit ne vim.</p>
            <p>¡Mél véri constituám ullamcorper id, quaestio electram deterruisset sea íñ, ipsúm repúdiare id vis! ¿Virís salutatus per et? ¿In úsu feugiat aliénum constituam, iús nostrum íñteresset te? No per idque electram intellegébat. Ius et epicurei recusabo.</p>
        </div>
    </div>
</div>