@{
    ViewBag.Title = "Términos de Uso";
}

<div class="content terminos">
    <div class="wp">
        <h1>Términos de Uso</h1>

        <div class="text">
            <p>La Compañía Camera Mundi Inc. se rige por el  “Manual de Procedimientos para el uso del internet, correo electrónico y otros recursos de tecnología” del Departamento de Educación de Puerto Rico.</p>
            <p>Camera Mundi Inc. entiende que las normas que rigen el uso del internet, el correo electrónico y los recursos de tecnología del personal y de los estudiantes esbozado en el “Manual de Procedimientos para el uso del internet, correo electrónico y otros recursos de tecnología” proporciona todas las directrices necesarias para el uso adecuado del internet, del correo electrónico y de otros recursos de tecnología en el Sistema Educativo de PR. Por tal motivo “Cuenta Cuentos”  no es una excepción.</p>
            <p>Camera Mundi, Inc. además se rige por todos los anejos y cartas circulares contenidas en el manual y se subscribirá a todas las políticas subsiguientes.</p>
            <a class="pdf-download" href="~/Content/pdf/Manual_de_Procedimientos_para_el_uso_de_Internet_20140904-1.pdf" target="_blank"><img src="~/Content/img/ico_pdf.png"><span>MANUAL DE PROCEDIMIENTOS PARA EL USO DE INTERNET, CORREO ELECTRÓNICO Y OTROS RECURSOS DE TECNOLOGÍA DEL DEPARTAMENTO DE EDUCACIÓN DE PUERTO RICO</span></a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>