
<div class="Video_Player">

    <div style="text-align:center">
        <button onclick="playPause()">Play/Pause</button>
        <button onclick="makeBig()">Big</button>
        <button onclick="makeSmall()">Small</button>
        <button onclick="makeNormal()">Normal</button>
        <br><br>
        <video id="video1" width="420">
            <source src="mov_bbb.mp4" type="video/mp4">
            <source src="mov_bbb.ogg" type="video/ogg">
            Your browser does not support HTML5 video.
        </video>
    </div>

    <script>

var myVideo = document.getElementById("video1");

            function playPause() {
                if (myVideo.paused)
                    myVideo.play();
                else
                    <a href="~/Views/Stories/_Form.cshtml">~/Views/Stories/_Form.cshtml</a>
                    myVideo.pause();
            }

            function makeBig() {
                myVideo.width = 560;
            }

            function makeSmall() {
                myVideo.width = 320;
            }

            function makeNormal() {
                myVideo.width = 420;
            }
    </script>




</div>


<script id="pages-designer-page" type="text/x-handlebars">

    {{#each pages}}

    {{#everyOther @@index  2 }}
    <div class="col page {{Type}}">
        <div class="center-outer image">
            <div class="center-inner">
                <div class="clipping">
                    {{#if ImageUrl}}
                    <img class="" src="{{ImageUrl}}" />
                    {{/if}}
                </div>
            </div>
        </div>

        {{#if Text}}
        <div class="cel text">
            {{{Text}}}
        </div>
        {{/if}}
    </div>
    </li>
    {{else}}
    <li>
        <div class="col page {{Type}}">
            <div class="center-outer image">
                <div class="center-inner">
                    <div class="clipping">
                        {{#if ImageUrl}}
                        <img class="" src="{{ImageUrl}}" />
                        {{/if}}
                    </div>
                </div>
            </div>

            {{#if Text}}
            <div class="cel text">
                {{{Text}}}
            </div>
            {{/if}}
        </div>

        {{/everyOther}}

        {{/each }}

</script>