@{
    ViewBag.Title = "Cambia tu contrasena";
}


<div class="content cuenta">
    <div class="wp">
        <h1>Cambia tu contraseña</h1>
        <h2>Su contraseña ha sido cambiada, satisfactoriamente.</h2>

        <div style="height: 100px;"></div>
    </div>
</div>


@section scripts {
   <script>
       $(function () {
           setTimeout(function () { window.location = "/home/index" }, 3000);
       });
    </script>
}