@model Category
@{
    ViewBag.Title = "Editar Categoría";
    ViewBag.TitleIcon = "edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <div class="box">
            <div class="box-header">
                <span class="title">Categoría</span>
            </div>

            <div class="box-content">
                @Html.Partial("_Form")
            </div>
        </div>
    </div>
</div>