.greensection {
  background-image: url("../img/about/greenbackground.png");
  background-size:cover;
  height:831px;
}
.jumboText {
  color:white;
  font-size:50pt;
}
.subheadingtxt{
  color : #535456;
  font-size:27pt;
}
.sobrenosotros{
  color:#00BAD3;
  font-weight: bold;
  font-size:53pt;
}

.row-centered {
  display: table-row;
}
// Apply this to the cols within the row
.col-centered {
  display: table-cell;
  float: none;
  vertical-align: top;
}
.quote {
background-color: #4AA7FF;
color:white;
font-style: italic;
box-shadow: 10px 10px #DDDEE0;
}
.author {
  text-align: center;
  font-style:normal;
}
.etc{
  text-align: center;
  font-style:normal;
}
.projectBox {
  padding-top: 10px;
  margin-top: 10px;
  box-shadow: 3px 3px grey;
}

.boxContent{
  color:white;
  text-align: center;
  font-size:12pt;
  
}

.boxTitle{
  font-weight: bold;
  color:white;
  text-align: center;
  font-size:27pt;
}

.lightBlueBox{
background-color:#00BAD3;
}
.purpleBox{
background-color:#6B87AE;
}
.blueBox{
  background-color: #00A1DE;
}
.pinkBox{
  background-color: #DE8AAF
}
.orangeBox{
  background-color: #F8993E;
}
.peachBox{
  background-color:#F7976B;
}

.imageTitle{
  font-weight: bold;
  color:white;
  text-align: center;
  font-size:20pt;
}
.imageContent{
  font-weight: normal;
  color:white;
  text-align: center;
  font-size:20pt;
}

.btn-comeinza{
  background-color: white;
  color:#07B79C;
  font-weight: bold;
  margin-top:0;
  margin-bottom:5%;
}
