.logo
{
  height: auto%;
  width: 50%;
}
.navcontent
{
  padding-top: 1%;
}
.searchBox
{
    padding-top:0.5%;
}

.center {
  position: relative;;
  left: 25%;
}

.navigationBtn
{
  display:inline-block;
  padding-right:10px;
}
