.logo
{
  height: 64px;
  width: 128px;
}
.navcontent
{
  padding-top: 1%;
  width:15%;
  position:absolute; 
  top:22px;
  right:25px; 
}
.searchBox
{
    padding-top:0.5%;
        
}

.center {
  position: relative;
  left: 25%;
}

.navigationBtn
{
  display:inline-block;
  padding-right:10px;
}

.div_searchBox{
  top:0px;

}

.logo-header{
    margin:initial;
    padding-left:5%;
    float:left;



}
.solid {
    border-bottom: 1px groove;
        border-color:dimgray;
        padding-top:10px
}
