.mainSection { 
  min-width: 768px;
  background-image: url("../img/Padres/padresbackground.png");
  padding: 48px 0;
  height:748px;
  }
}
/*img.resize{
    width:768px; /* you can use % */
    /*height: auto;
}*/
   
.mt-col{
    width:128px;
}
.mainSectionTitle{
  color:white;
  font-weight: bold;
}

.mainSectionSubTitle{
  color:white;
}

.mainTitle{
  color:#4AA7FF;
}
.secondTitle{
 color:grey;
}

.secondMainTitle{
  color:#339933;
}
.paragraph{
  text-align: center;
  font-weight:600;
}
.btn-register{
  background-color: orange;
  font-weight: bold;
  color:white;
}


.graphImage{
  width:35%;
  height: auto;
}
