.mainSection{
  background-image: url("../img/Padres/padresbackground.png");
  background-size:cover;
  width:100%;
  height:735px;
  padding-top:48px;
  padding-bottom:48px;
  
}
.mainSectionTitle{
  color:white;
  font-weight: bold;
  font-size:3em;
  width:612px;
  margin-top:140px;
  text-align:left;
}

.mainSectionSubTitle{
  color:white;
}

.mainTitle{
  color:#4AA7FF;
  margin-top:95px;
  font-size:18pt;
}

.secondTitle{
 color:grey;
}

.secondMainTitle{
  color:#339933;
  font-size:50pt;
}
.paragraph1{
  text-align: center;
  color:#5a6367;
  font-weight:normal;
  font-size: 20pt;
}
.btn-register{
  background-color: orange;
  font-weight: bold;
  color:white;
}


.graphImage{
  width:35%;
  height: auto;
}
#img-menino{

margin-top:-35%;
}
#thirdTitle {
    font-size:2em;
    color:gray;
}


