@{
    ViewBag.Title = "recuperar contraseña";
    Layout = null;
}
Content-Type: text/html; charset=utf-8
Subject: Tu nueva contrase~a

<html>
<body>
    <p>Esta es tu nueva contraseña: @ViewBag.NewPassword </p>
</body>
</html>
