<div id="AprovalModal" class="modal fade" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
            Titulo: Test<br/>
            Autor: Test<br />
            Resumen Test<br />
            Enlace:  Test<br />


          </div>
          <div class="modal-footer">
            <h4 class="modal-title">Esperando por aprobación</h4>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-blue">Aprobar</button>
          </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>