<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Cuenta Cuentos Admin</a>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-primary">
            <span class="sr-only">Toggle Side Navigation</span>
            <i class="icon-th-list"></i>
        </button>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-top">
            <span class="sr-only">Toggle Top Navigation</span>
            <i class="icon-align-justify"></i>
        </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-collapse-top">
        <div class="navbar-right">

            <ul class="nav navbar-nav navbar-left">
                <li class="">
                    <a href="#">
                        <span>Bienvenido, @HttpContext.Current.User.Identity.Name</span>
                    </a>
                </li>

                <li class="">
                    <a href="@Url.Action("Index", "Account", new { area = "" })">
                        <span>Volver a Cuenta Cuentos</span>
                    </a>
                </li>

                <li class="">
                    <a href="@Url.Action("LogOff", "Account", new { area = "" })">
                        <span>Salir</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!-- /.navbar-collapse -->

</nav>
