<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="logo" src="http://www.cuentacuentospr.com/Content/img/logo.png">
        </div>
        <div class="col-sm-3 col-md-3 searchBox">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        @Html.Partial("_LoginPartial")


    </div>
    <hr />
    <div class="container-fluid">
        <ul class="nav navbar-nav center">
            <li class="active"><a href="#">Inicio</a></li>
            <li><a href="#">Album de Cuentos</a></li>
            <li><a href="#">Educadores</a></li>
            <li><a href="#">Padres</a></li>
            <li><a href="#">Conocenos</a></li>
        </ul>
    </div>
    <div>

    </div>
</nav>
        
